.wrapper
  .chatside
    .header
      %h3.haeder__name
        = current_user.name
      %ul.header__list
        %li.list
          = link_to do
            = fa_icon 'pencil-square-o', class: 'icon'
        %li.list
          = link_to edit_user_registration_path(current_user) do
            = fa_icon 'cog', class: 'icon'
    .groups
      .groups__group
        .groups__name
          group_name_A
        .groups__message
          AAAAAAAAAAAAAA
      .groups__group
        .groups__name
          group_name_A
        .groups__message
          AAAAAAAAAAAAAA
  .chatmain
    .chatmain__header
      .chatmain__header__content
        .chatmain__header__content__group__name
          group-name-A
        %a.edit-button{ href: "#", type: "submit" }
          EDIT
      .chatmain__header__group__members
        group-members-name
    .chatmain__body
      .chatmain__body__message__wrapper
        .chatmain__body__member__name
          member's name
          .chatmain__body__positing__time
            2018/11/05 10:10:00
        .chatmain__body__message
          message-massage-massage-massage-massage-massage
    .chatmain__footer
      %textarea(cols ="30" name = "text" placeholder = "new message" rows = "1" )
      %input.submit(type = "submit" value = "SEND")
      %label.upload-label{for:"insert-image"}
        %span.insert-image #{ fa_icon "image" }
        %input.file_field{type: "file", id: "insert-image"}

